.mainTitle {
    display: flex;
    justify-content: center;
}

.inputForm {
    background-color: aliceblue;
}

.usernameDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.roomDiv {
    display: flex;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

#chatField{
    width: 50%;
    height: 25%;
}

